:root {
  --main-fotn: 'roboto', sans-serif;
  --secondary-font: 'raleway', sans-serif;
  --prymary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hover-color: #188ce8;
  --logo-color: #000000;
  --buuton-text-color: #ffffff;
  --main-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --our-team-bg-color: #f5f4fa;
  --border-header-portfolio: #ececec;
  --socials-icon-color: #afb1b8;

  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
