.socials-action {
  margin-right: 93px;
  @media screen and(max-width: 767px) {
    margin-bottom: 60px;
    margin-right: 0;
  }

  &__link {
    background-color: #44454e;
  }

  &__icon {
    fill: var(--buuton-text-color);
  }
}
.socials__title {
  margin-bottom: 20px;
  @include fonts(700, 14px, 1.14, 0.03em);

  text-transform: uppercase;

  color: var(--buuton-text-color);
  @media screen and(max-width: 767px) {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
