.logo {
  font-family: var(--secondary-font);
  @media screen and(min-width: 1200px) {
    @include fonts(700px, 26px, 1.19, 0.03em);

    margin-right: 93px;
  }
  @include fonts(700px, 24px, 1.16, 0.03em);

  color: var(--accent-color);
  text-decoration: none;

  &__link {
    color: var(--logo-color);
  }
}
