html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-fotn);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

